<div class="flex h-full w-full flex-col items-center justify-center"> <!-- Main -->
    <div class="flex h-full flex-auto flex-col items-center justify-center p-6 sm:p-10">
        <!-- prettier-ignore -->
        <div class="w-full max-w-3xl">
            <img class="w-full" src="images/pages/not-found/snorlax_404.svg" alt="Not found" />
        </div>
        <div class="mt-6 text-center text-4xl font-extrabold leading-tight tracking-tight sm:mt-6 md:text-7xl md:leading-none">
            Oops!
        </div>
        <div class="text-secondary mt-2 text-center text-lg font-medium tracking-tight md:text-xl">
            A wild Snorlax has blocked your path!
        </div>
        <a class="mt-12 font-medium text-primary-500 underline" [routerLink]="['/']">
            Back to Home
        </a>
    </div>
</div>